<div class="container" >
  <div class="header-container">
    <h1 class="header">Welcome to B Tech</h1>
    <br>
    <h3>~The best place for Tech~</h3>
    <button class="button-submit" (click)="goToPage('Home')" >Start Shopping</button>
  </div>


</div>
<div class="about-container">

  <div class="header-container">
    <h1>About</h1>
    <br>
    <p>This is a simple E-commerce site that allows users to view products and products to their cart.</p>
    <P>Admins are allowed to create update and delete product for their users to see.</P>
  </div>
</div>
